:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.025em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
