.my-color { margin-top: color; margin-bottom: color; }
.bg-\#0f1015 { background: #0f1015; }
.\[fontSize\]-1rem { font-size: 1rem; }
.\[fontWeight\]-500 { font-weight: 500; }
.w-md { width: 200px; }
.h-md { height: 100px; }
.hover\:w-150px:hover { width: 150px; }
.bg-\$my-color { background: var(--my-color); }
.hover\:bg-blue:hover { background: blue; }
.\[transition\]-300ms { transition: 300ms; }
.\[border-radius\]-6px { border-radius: 6px; }
.bg-blue { background: blue; }
.bg-\#973dd0 { background: #973dd0; }
.bg-\#d03d3d { background: #d03d3d; }
.text-\#d03d3d { color: #d03d3d; }
.p-100px { padding: 100px; }
.br-1rem { border-radius: 1rem; }
.\[--pad\]-2rem { --pad: 2rem; }
.p-2rem { padding: 2rem; }
.mt-1rem { margin-top: 1rem; }
.bdr-clr-red { border: clr-red; }
.t-primary { top: primary; }
.text-red { color: red; }
.hover\:text-rex:hover { color: rex; }
.t-blue { top: blue; }
.hover\:b-tenox:hover { bottom: tenox; }
.bg-\$primary { background: var(--primary); }
.p-\[1rem\] { padding: 1rem; }
.br-\[4px\] { border-radius: 4px; }
.\[--primary\]-\#ccf654 { --primary: #ccf654; }
.size-100px { width: 100px; height: 100px; }
.flex-center { flex: center; }
.transform { transform: rotate(var(--tx_rotate, 0))
rotateY(var(--tx_rotate-y, 0))
rotateX(var(--tx_rotate-x, 0))
rotateZ(var(--tx_rotate-z, 0))
scale(var(--tx_scale, 1))
scaleY(var(--tx_scale-y, 1))
scaleX(var(--tx_scale-x, 1))
scaleZ(var(--tx_scale-z, 1))
skew(var(--tx_skew, 0))
skewY(var(--tx_skew-y, 0))
skewX(var(--tx_skew-x, 0))
translate(var(--tx_translate, 0))
translateY(var(--tx_translate-y, 0))
translateX(var(--tx_translate-x, 0))
translateZ(var(--tx_translate-z, 0)); }