.transform {
  transform: rotate(var(--tx_rotate, 0)) rotateY(var(--tx_rotate-y, 0))
    rotateX(var(--tx_rotate-x, 0)) rotateZ(var(--tx_rotate-z, 0)) scale(var(--tx_scale, 1))
    scaleY(var(--tx_scale-y, 1)) scaleX(var(--tx_scale-x, 1)) scaleZ(var(--tx_scale-z, 1))
    skew(var(--tx_skew, 0)) skewY(var(--tx_skew-y, 0)) skewX(var(--tx_skew-x, 0))
    translate(var(--tx_translate, 0)) translateY(var(--tx_translate-y, 0))
    translateX(var(--tx_translate-x, 0)) translateZ(var(--tx_translate-z, 0));
}
.filter {
  filter: blur(var(--tx_blur, 0)) brightness(var(--tx_brightness, 1))
    contrast(var(--tx_contrast, 1)) grayscale(var(--tx_grayscale, 0))
    hue-rotate(var(--tx_hue-rotate, 0)) invert(var(--tx_invert, 0)) opacity(var(--tx_opacity, 1))
    saturate(var(--tx_saturate, 1)) sepia(var(--tx_sepia, 0))
    drop-shadow(var(--tx_drop-shadow, 0 0 0 rgb(0 0 0 / 0)));
}
.rotate-45deg {
  --tx_rotate: 45deg;
}
.box-100px {
  width: 100px;
  height: 100px;
}
.bg-red {
  background: red;
}
.hover\:bg-yellow:hover {
  background: yellow;
}
.text-white {
  color: white;
}
.bg-\#e652ed {
  background: #e652ed;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-element {
  margin-top: element;
  margin-bottom: element;
}
.bg-\#ff0 {
  background: #ff0;
}
.bg-\#973dd0 {
  background: #973dd0;
}
.bg-\#d03d3d {
  background: #d03d3d;
}
.text-\#d03d3d {
  color: #d03d3d;
}
.\[--pad\]-2rem {
  --pad: 2rem;
}
.p-2rem {
  padding: 2rem;
}
.mt-1rem {
  margin-top: 1rem;
}
.text-red {
  color: red;
}
.hover\:text-rex:hover {
  color: rex;
}
.hover\:b-tenox:hover {
  bottom: tenox;
}
.bg-\$primary {
  background: var(--primary);
}
.p-\[1rem\] {
  padding: 1rem;
}
.\[--primary\]-\#ccf654 {
  --primary: #ccf654;
}
.flex-center {
  flex: center;
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .md\:bg-blue {
    background: blue;
  }
  .md\:center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .md\:text-black {
    color: black;
  }
}
