logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/node_modules
**/.yarn/*
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/dist
**/build
**/*.bak
**/*.bak.*
**/.temp
**/*.temp.*
**/.cache
**/*.tsbuildinfo
**/src/**/*.d.ts
**/src/**/*.js
packages/*/*.js
plugins/*/*.js
**/LICENSE
!./LICENSE
# vitest istanbul coverage
**/coverage
# wst pre-pack
**/*.zip
**/*.tar.gz
