/*!
  Tester CSS | NOuSantx | Tenk7css v0.0.2
*/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body,
div,
figcaption,
figure,
h1,
h2,
h3,
li,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.6;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}
h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
h3 {
  font-size: clamp(1.2rem, 3vw, 2rem);
}
h4 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
h5 {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}
h6 {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}
p {
  font-size: clamp(1rem, 2vw, 1.5rem);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
:where([hidden]),
none {
  display: none !important;
}
a,
button {
  cursor: pointer;
}
