.ac,
.ai,
.as,
.b,
.bg,
.blur,
.br,
.brightness,
.bs,
.bs-bottom,
.bs-left,
.bs-right,
.bs-top,
.bw,
.bw-bottom,
.bw-left,
.bw-right,
.bw-top,
.content-place,
.contrast,
.cursor,
.display,
.flex,
.fs,
.fw,
.fx,
.fx-basis,
.fx-grow,
.fx-shrink,
.fx-wrap,
.gap,
.grayscale,
.grid-area,
.grid-col,
.grid-col-end,
.grid-col-gap,
.grid-col-start,
.grid-gap,
.grid-item-col,
.grid-item-row,
.grid-row,
.grid-row-end,
.grid-row-gap,
.grid-row-start,
.h,
.h-mn,
.h-mx,
.hue-rotate,
.item-order,
.item-place,
.jc,
.ji,
.js,
.justify,
.l,
.lh,
.ls,
.m,
.mb,
.mh,
.ml,
.mr,
.mt,
.mv,
.opa,
.over,
.overX,
.overY,
.p,
.pb,
.ph,
.pl,
.position,
.pr,
.pt,
.pv,
.r,
.radius-bl,
.radius-bottom,
.radius-br,
.radius-left,
.radius-right,
.radius-tl,
.radius-top,
.radius-tr,
.saturate,
.scale,
.sepia,
.t,
.ta,
.tc,
.ti,
.tn,
.tr-delay,
.tr-prop,
.tr-time,
.ts,
.w,
.w-mn,
.w-mx,
.white-space,
.ws,
.z {
  --TenoxUI: "TenoxUI";
}
