.bg-slate-50 {
  background: rgb(249 250 250 / var(--bg-opacity, 1));
}
.text-slate-950 {
  color: rgb(7 20 45 / var(--text-opacity, 1));
}
.gradient-text {
  --gt-direction: -45deg;
  --gt-color: rgb(243 127 46), rgb(240 56 56);
  background: -webkit-linear-gradient(var(--gt-direction), var(--gt-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fixed {
  position: fixed;
}
.\[t\,l\,r\]-0 {
  top: 0;
  left: 0;
  right: 0;
}
.h-62px {
  height: 62px;
}
.px-2rem {
  padding-left: 2rem;
  padding-right: 2rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.fw-500 {
  font-weight: 500;
}
.w-mx-1280px {
  max-width: 1280px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.h-mn-100vh {
  min-height: 100vh;
}
.p-2rem {
  padding: 2rem;
}
.h-100vh {
  height: 100vh;
}
.tw-balance {
  text-wrap: balance;
}
.ta-center {
  text-align: center;
}
.fs-2rem {
  font-size: 2rem;
}
.fw-600 {
  font-weight: 600;
}
.lh-1 {
  line-height: 1;
}
.ls--0\.035em {
  letter-spacing: -0.035em;
}
.\[background\,--my-xol\]-\[rgb\(255_0_0\)\] {
  background: rgb(255 0 0);
  --my-xol: rgb(255 0 0);
}
